.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  p {
    font-size: smaller;
    margin: 5px;
  }
}

.switch {
  display: inline-block;
  width: 80px;
  height: 34px;
  position: relative;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 34px;
  background-color: #22262c;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  transition: 0.4s;
  border-radius: 50%;
  background-color: white;
}

input:checked + .slider {
  background-color: #bc1e4a;
}

input:checked + .slider:before {
  transform: translateX(46px);
  background-color: white;
}
